@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700;900&display=swap');

body {
  margin:0;
  background-color: rgb(243, 245, 248);
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.navbar{
  background-color: rgb(3, 36, 197);
}
.navbar-brand {
  color: aliceblue;
  font-weight: bold;
}
.navbar-nav{
  color: aliceblue;
}
.nav-link, .nav-item.dropdown{
  color: rgb(5, 204, 249);
}
.nav-link:hover{
  color:rgb(255, 255, 255)
}
.nav-item.dropdown.active .nav-link{
  color:rgb(255, 255, 255)
}
#map {
  height: 500px;
  width: 100%
  }
.Container {
    width:100%;
    background-color: #f0f0f0;
  }
.Row {
    margin:10px;
    padding:10px;
  }
.Col {
  padding:10px;
  }
  .Content {
    background-color: #ffffff;
    padding: 10px;
    min-height: 500px;
  }
  @media (max-width: 991.98px) {
    .Row {
      flex-wrap: wrap-reverse;
    }
  }
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


